body {
    background-color:#EAEAEA;
}

.box { 
    position: relative;
    width: 98%;
    left: 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px #ccc
}

.form-group {
    position: relative;
    top : 5px;
}

label {
    position: relative;
    top : 10px;
}

button {
    position: relative;
    top : 5px;
}

input[type="text"][disabled] {
    background-color: white;
}
